@import '../../styles/global';

.page-container{
  width: 100%;
  margin: 0;
  padding: 0;
  @include tablet{
    padding: 0 3rem;
  }
  @include desktop{
      padding: 0 10%;
  }
}

.detail-page{
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 32px;
  &__title{
    border-bottom: 1px solid $secondaryMercury;
    margin-bottom: 0;
    padding-bottom: 16px;
  }
  @include tablet{
    padding: 32px 10% 0 10%;
  }
}


.single-book{
  display: flex;
  flex-direction: column;
  background-color: $primeWhite;
  padding: 16px 24px;
  border-bottom: 1px solid $secondaryMercury;
  @include tablet{
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;
  }
  
  &__left{
    display:flex;
    justify-content: center;
    @include tablet{
      width: 30%;
      text-align: center;
      align-self: flex-start;
    }

  }

  &__right{
    display: flex;
    flex-direction: column;
    @include tablet{
      width: 68%;
    }
  }
  &__middle{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $secondaryMercury;

  }

  &__buttom{
    display: flex;
    flex-direction: column;
    @include tablet{
      position: relative;
      padding: 16px 0;
    }

  }
  &__button{
    width: 100%;
    align-self: center;
    height: 36px;
    background-color: $primeBlue;
    border: 1px solid $secondaryMercury;
    border-radius: 0.25rem;
    text-decoration: none;
    color: $primeWhite;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    @include tablet{
      width: 25%;
      position: absolute;
      top:16px;
      right: 0;
    }
  }
}

.book{
  &__image{
    align-self: center;
    width: 100%;
    @include tablet{
      width: 100%;
    }
  }

  &__detail{
    display: flex;
    flex-direction: column;
    @include tablet{
       width: 70%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;

  }

  &__text{
    line-height: 1.5rem;
    margin: 0.5rem 0;
  }
}

.detail{
  &__item{
    color: $primeSilver;
    margin: 0;
    &--black{
      color: $primeBlack;
      padding-left: 8px;
    }
  }
}

.rating{
  display: flex;
  justify-content:first baseline;

  &__info{
    padding-left: 16px;
    margin: 0.5rem 0;
  }

  &__number{
    font-weight: bold;
    padding-right: 8px;
  }
 
}


.reviews-section{
  background-color: $primeWhite;
  display: flex;
  flex-direction: column;

  &__title{
    padding-left: 16px;
  }

  &__list{
    display: flex;
    flex-direction: column;
  }
}