@import '../../styles/global';

.review-card{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid $secondaryMercury;
  border-bottom: 1px solid $secondaryMercury;
  padding: 16px;
  &__image{
    width:40%;
    height: 50%;
    @include tablet{
      width: 25%;
      height: auto;
    }
  }
  &__right{
    width:55%;
    @include tablet{
      width: 70%;
    }
  
  }

  &__content{
    width: 100%;
  }

  &__control{
    display: flex;
    justify-content: flex-end;

  }

}


.control-items{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet{
    width: 40%;
  }
  
  &__link{
    width: 45%;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
     max-width: 160px;
     background-color: $primeBlue;
     border-radius: 4px;
     color: $primeWhite;
   }
   &__button{
     width: 45%;
     font-size: 0.875rem;
     font-weight: bold;
     line-height: 36px;
     max-width: 160px;
     background-color: $primeBlue;
     border-radius: 4px;
     border: 1px solid $primeSilver;
     color: $primeWhite;
   }
   
}
.review-book{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $secondaryMercury ;
  &__title{
    font-weight: bold;
    margin: 0.5rem 0;
  }
  &__info{
    display: flex;
    flex-direction: column;

    @include tablet{
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__detail{
    width: 30%;
    color: $primeSilver;
    font-size: 0.875rem;
    font-weight: bold;
    width: 100%;
    margin: 0.5rem 0;
    &--black{
      color: $secondaryDarkBlack;
      padding-left: 16px;
    }
  }

}

.review-body{
  display: flex;
  flex-direction: column;

  &__info{
    display: flex;
    flex-direction: column;
   
    @include tablet{
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__title{
    width: 30;
    font-size: 0.875rem;
    font-weight: bold;  
    margin: 0.5rem 0;
    @include tablet{
      padding-left: 32px;
    }
  }

  &__middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__time{
    margin: 0.5rem 0;
  }
  &__text{
    line-height: 1.5rem;
    @include tablet{
      font-size: 1.25rem;
    }
  }
}



