@import '../../styles/global';

.footer{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color:$footerBlack;

  @include tablet{
    // margin: 0 3rem;
    padding: 0;
  }
  @include desktop{
    // margin: 0 10%;
  }

  &__text{
      padding: 16px;
      color: $primeWhite;
      text-align: center;
      @include tablet{
        padding: 32px 10%;
      }
  }
}