@import '../../styles/global';

.footer{
  display: flex;
  justify-content: center;
  background-color:$seccondaryGray;
  border-top: 1px solid $secondaryMercury;

  @include tablet{
    margin: 0 3rem;
    padding: 0;
  }
  @include desktop{
    margin: 0 10%;
  }

  &__text{
      padding: 16px;
      color: $primeBlack;
      text-align: center;
      @include tablet{
        padding: 32px 10%;
      }
  }
}