// .rating {
//   unicode-bidi: bidi-override;
//   direction: ltl;
// }

.rating {
  display: flex; /* Use flexbox to align stars */
  align-items: center; /* Center stars vertically */
}


.star {
  display: inline-block;
  font-size: 1.75rem;
  color: gold;
 
}

.full {
  width: 1.2em;
}

.half {
  position: relative;
  width: 0.6em;
  overflow: hidden;
}

.half::after {
  content: "\00BD";
  position: absolute;
  left: 0;
  width: 50%;
}

.empty {
  color:gray; /* Color for empty stars */
}