@import '../../styles/global';

.upload-page{
  width: 100%;
  margin: 0;
  padding: 0;

  @include tablet{
    padding: 0 3rem;
    }

  @include desktop{
      padding: 0 10%;
  }
}


.upload-review{
  display: flex;
  flex-direction: column;
  
  &__title{
    margin: 8px 0;
  }
  &__content{
    display: flex;
    flex-direction: column;
    

    @include tablet{
      flex-direction: row;
      justify-content: space-between;
      align-items:flex-start;
    }

  }

  &__form{
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    @include tablet{
      width: 65%;
      align-self: flex-start;
    }
  }
}

.book-info{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $secondaryMercury;
  padding: 16px 0;

  @include tablet{
    width: 30%;
    align-self: flex-start;
    border-bottom: none;
   
  }

  &__image{
    width: 80%;
    align-self: center;

    @include tablet{
      width: 100%;
    }

  }
}

.upload-form{
  display: flex;
  flex-direction: column;
  
  &__content{
    display: flex;
    flex-direction: column;

  }
  
  &__title{
    font-size: 1.25rem;
    @include tablet{
      font-size: 1.5rem;
      padding-bottom: 16px;
      border-bottom: 1px solid $secondaryMercury;
    }
  }
  &__label {
    margin-bottom: 0.5rem;
  }

  &__input{
    margin-bottom: 1rem;
    border: 1px solid $secondaryMercury;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: inherit;
    height: 5rem;

    @include tablet{
      height: 8rem;
    }

    &:focus{
      border: 2px solid $secondaryDarkBlue;
      outline: none;
     }

  }

  &__tip{
  margin: 0;
  font-size: 0.75rem;
  }

  &__controller{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 16px 0;

    @include tablet{
      width: 60%;
      align-self: flex-end;
    }
  }

  &__button{
    background-color: $primeBlue;
    width: 50%;
    color:$primeWhite;
    border: 1px solid $secondaryMercury;
    border-radius: 4px;
    height: 36px;
    font-weight: 700;
    line-height: 36px;

    &:hover{
      background-color: $secondaryDarkBlue;
    }

  }

  &__error {
    display: inline-block;
    color: red;
  }

 &__hidden {
    display: none;
  }
}