@import '../../styles/global';

.header-container{
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $secondaryMercury;

}


.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: none;
  height: 100px;
  @include tablet{
    margin: 0 3rem;
    padding: 0;
  }
  @include desktop{
    margin: 0 10%;
  }
}

.logo {
  flex: 0;
  width: 30%;
  @include tablet{
    width: 20%;
  }
  &__image{
    width: 100%;
    min-width: 160px;
    height: auto;
  }
}



.navbar {
  display: none;

  @include tablet{
    display: flex;
    justify-content: right;
    width: 60%;
  }
  
  &__list {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    top:40px;
    right: 0px;
    width: 100%;
    justify-content: space-around;

    @include tablet{   
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: right;
       
    }

   
  }

  &__item{
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
    color: $primeBlue;
    font-weight: 600;
    padding: 8px;
    @include tablet{
      font-size: 1.13rem;
    }
    &:hover {
      color: $primeWhite;
      background-color:$secondaryDarkBlue;
  }
  }
}





.navbar-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}


.function-bar{
  
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include tablet{
    width: 20%;
    justify-content: baseline;
  }
}

.menu {
  display: flex;
  width: 85%;
  justify-content: right;
  &__items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
  
  }
  
  &__username{
    flex: 1;
    text-decoration: none;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    color: $primeBlack;
    @include tablet{
      font-size: 1.2rem;
    }
  }
  &__link{
    flex: 1;
    text-decoration: none;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    color: $primeBlue;
     @include tablet{
      font-size: 1.2rem;
    }
     &:hover {
        color: $primeWhite;
        background-color:$secondaryDarkBlue;
      }
  }
}

.hamburger-menu {
  display: flex;
  cursor: pointer;
  width: 15%;
  justify-content:center;
  font-size: 1.2rem;
  padding-left: 16px;
  @include tablet {
    display: none;
  }
}



