@import '../../styles/global';
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: none;
  height: 100px;
}

.logo {
  flex: 0;
  width: 30%;
  &__image{
    width: 50%;
    min-width: 120px;
    height: auto;
  }
}



.navbar {
  display: none;

  @include tablet{
    display: flex;
    justify-content: center;
    width: 45%;
  }
  
  &__list {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:30px;
    right: 0px;

    @include tablet{   
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
    }
  }

  &__item{
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.25rem;
    color: $primeBlue;
  }
}





.navbar-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}


.function-bar{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @include tablet{
    width: 30%;
  }
}

.menu {
  display: flex;
  width: 90%;
  justify-content: right;
  &__items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    font-size: 1.25rem;
    color: $primeBlue;
  
  }
  
  &__username{
    width: 60%;
    text-decoration: none;
    font-size: 1.25rem;
    color: $primeBlue;
  }
  &__link{
    text-decoration: none;
    width: 40%;
    font-size: 1.25rem;
    color: $primeBlue;
  }
}

.hamburger-menu {
  display: flex;
  cursor: pointer;
  width: 10%;
  text-align: right;
  @include tablet {
    display: none;
  }
}



