@import '../../styles/global' ;
.top-container{
  margin: 0;
  padding: 0;
  width: 100%;
}

.top-booklist{
  padding: 16px;
  background-color: $seccondaryGray;
  background-image: url('../../assets/Image/hero-bg-img.svg');
  background-repeat: no-repeat;
  @include tablet{
    padding: 32px 10%;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 1;
    padding: 24px 0;

    @include tablet{
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

}