$primeBlue:#17A2B8;
$primeSilver:#AFAFAF;
$primeWhite:#FFFFFF;
$secondaryDarkBlack:#000000;
$secondaryDarkBlue:#0e6572;
$secondaryMercury: #E1E1E1;
$secondaryAlabaster:#FAFAFA;
$seccondaryGray:#f6fbfb;