$primeBlue:#17A2B8;
$primeSilver:#AFAFAF;
$primeWhite:#FFFFFF;
$primeBlack: #14261C;
$primeGray: #4F5655;
$secondaryDarkBlue:#00AC97;
$secondaryMercury: #E1E1E1;
$seccondaryGray:#F6F7F8;
$bodyBackGray:#f2f5f7;
$footerBlack:#25272d;
