$primeBlue:#17A2B8;
$primeBrainFlix-Blue:#0095FF;
$primeSilver:#AFAFAF;
$primeWhite:#FFFFFF;
$secondaryBrainFlix-DarkBlack:#000000;
$secondaryBrainFlix-DarkBlue:#0065AD;
$secondaryMercury: #E1E1E1;
$secondaryAlabaster:#FAFAFA;