@import './colors';
@import './font';
@import './maxin';

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
    @include tablet{
        font-size: 2.25rem;
        line-height: 3rem;
    }
}

h2{ 
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
    @include tablet{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

h3{ 
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight:600;

    @include tablet{
        font-size: 0.91rem;
        line-height: 1.75rem;
    }
}