@import '../../styles/global';

.bookcard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  width: 45%;
  padding: 8px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
 
  @include tablet {
    width: 23%;
    flex-direction: column;
  }

  &__image{
   display: flex;
  justify-content: center;
  }

  &__cover{
    width: 80%;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  &__title{
    font-weight: bold;
    font-size: 0.875rem;

    @include tablet{
      font-size: 0.913rem;
    };
  }

  &__author{
    font-weight: bold;
    font-size: 0.875rem;
    color: $primeSilver;

    @include tablet{
      font-size: 0.913rem;
    };


    &--gray{
      padding-left: 16px;
      color: $primeBlack;
    }
  }

  &__rating{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // @include tablet{
    //   width: 70%
    // };

    &--bold{
      font-weight: bold;
      font-size: 0.875rem;
    }
  }
}