
.field_rating{
  display: flex;
 
  &__star, &__activeStar {
    cursor: pointer;
    float: left;
    font-size: 1.75rem;
    color: gray;
  }

  &__activeStar {
    color: gold;
  }

  &__input[type="radio"] {
    display: none;
  }
}