@import '../../styles/global';

.rating-input{
  display: flex;
  flex-direction: column;

  &__value{
    margin: 8px 0;
  }
 
  &__star, &__activeStar {
    cursor: pointer;
    float: left;
    font-size: 1.75rem;
    color: gray;
  }

  &__activeStar {
    color: gold;
  }

  &__input[type="radio"] {
    display: none;
  }

  &__error {
    display: inline-block;
    color: red;
  }

   &__hidden {
    display: none;
   } 
}